In [9]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
from scipy.stats import linregress

#from config import t_key

In [19]:
new_csv = "../CC/Jan2020VMBusStops-Copy2.csv"
#col_list = ['SERVICE', 'Avg Full Fare', 'Avg Exp Fare', 'Avg Reduced Fare', 'Avg Full Fare Pass', 'Avg Reduced Pass', 'Avg Monthly Pass', 'Avg Free', 'Avg Bikes', 'Avg W/C', 'Avg Daily']
#new_stops_df = pd.read_csv(new_csv,"utf-8", engine='python', usecols=col_list)
new_stops_df = pd.read_csv(new_csv,"utf-8", engine='python', delimiter = ",")

new_stops_df.head()

,SERVICE,ROUTE,CITY,Avg Full Fare,Avg Exp Fare,Avg Reduced Fare,Avg Full Fare Pass,Avg Reduced Pass,Avg Monthly Pass,Avg Free,Avg Bikes,Avg W/C,Avg Daily Boardings,Total Boardings,Daily Revenue Miles,Total Rev. Miles,Boardings Per Rev Mile,1/19 - Avg Daily,% Difference
0,WK,Valley Metro Rail,Mes,161,0,218,"2,802","3,496",467,836,0,0,"7,980","175,538","2,099.10","46,180.20",3.8,"6,928",15.20%
1,WK,Valley Metro Rail,Phx,741,0,601,"9,943","11,726","2,690","3,006",0,0,"28,707","631,579","6,026.80","132,589.60",4.8,"30,530",-6.00%
2,WK,Valley Metro Rail,Tem,332,0,276,"2,716","3,354","1,732",984,0,0,"9,394","206,657","2,009.90","44,217.80",4.7,"9,883",-4.90%
3,SA,Valley Metro Rail,Mes,122,0,165,"2,117","2,642",353,632,0,0,"6,031","24,115","1,970.60","7,882.40",3.1,"5,424",11.20%
4,SA,Valley Metro Rail,Phx,527,0,427,"7,065","8,331","1,911","2,132",0,0,"20,393","81,588","5,657.80","22,631.20",3.6,"22,333",-8.70%

In [11]:
new_stops_df.dtypes

SERVICE,ROUTE,CITY,Avg Full Fare,Avg Exp Fare,Avg Reduced Fare,Avg Full Fare Pass,Avg Reduced Pass,Avg Monthly Pass,Avg Free,Avg Bikes,Avg W/C, Avg Daily Boardings, Total Boardings ,Daily Revenue Miles,Total Rev. Miles,Boardings Per Rev Mile,1/19 - Avg Daily,% Difference    object
dtype: object