In [2]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
from scipy.stats import linregress

from config import t_key

In [3]:
bus_csv = "CSVs/Valley_Metro_Bus_Stops_View.csv"

bus_stops_df = pd.read_csv(bus_csv, encoding="utf-8")
bus_stops_df.head()

,X,Y,OBJECTID,StopID,NextRide,Location,Juris,Shelter,Bench,TrashCan,...,Info_Display,Type_,DateUpdated,Sidewalk,Photo,ATIS_ID,Direction,Long,Lat,Routes
0,-111.823076,33.414719,1,5182.0,16020.0,MESA DR & MAIN ST,Mesa,1.0,1.0,0.0,...,No,Standard,1.541148e+12,NaN,https://farm9.staticflickr.com/8719/1692170720...,5196.0,Southbound,-111.823076,33.414719,120
1,-111.822766,33.415684,2,2982.0,16001.0,MESA DR & MAIN ST,Mesa,1.0,4.0,1.0,...,Yes,LINK,1.541148e+12,Yes,https://farm1.staticflickr.com/757/21334866928...,2996.0,Northbound,-111.822766,33.415684,120
2,-111.822934,33.425734,3,4681.0,16016.0,MESA DR & 6TH ST,Mesa,1.0,1.0,1.0,...,No,Standard,1.541148e+12,Yes,https://farm8.staticflickr.com/7288/1632759920...,4695.0,Southbound,-111.822934,33.425734,120
3,-111.823048,33.422048,4,4682.0,16017.0,MESA DR & UNIVERSITY DR,Mesa,1.0,1.0,1.0,...,No,Standard,1.541148e+12,Yes,https://farm9.staticflickr.com/8622/1630995151...,4696.0,Southbound,-111.823048,33.422048,120
4,-111.823069,33.416883,5,4679.0,16019.0,MESA DR & 1ST ST,Mesa,0.0,1.0,1.0,...,No,Standard,1.541148e+12,Yes,https://farm8.staticflickr.com/7292/1587753502...,4693.0,Southbound,-111.823069,33.416883,120

In [14]:
bus_df = bus_stops_df.drop(['NextRide', 'Photo', 'ATIS_ID', 'Em_Call', 'Lighting','OBJECTID', 'Routes', 'Bathroom','Direction', 'DateUpdated', 'ADA', 'PublicArt', 'Shelter', 'Bench','BusBay', 'BikeRack', 'WaterFountain', 'TrashCan', 'Info_Display', 'Sidewalk'], axis=1)
bus_df.head()

,X,Y,StopID,Location,Juris,Type_,Long,Lat
0,-111.823076,33.414719,5182.0,MESA DR & MAIN ST,Mesa,Standard,-111.823076,33.414719
1,-111.822766,33.415684,2982.0,MESA DR & MAIN ST,Mesa,LINK,-111.822766,33.415684
2,-111.822934,33.425734,4681.0,MESA DR & 6TH ST,Mesa,Standard,-111.822934,33.425734
3,-111.823048,33.422048,4682.0,MESA DR & UNIVERSITY DR,Mesa,Standard,-111.823048,33.422048
4,-111.823069,33.416883,4679.0,MESA DR & 1ST ST,Mesa,Standard,-111.823069,33.416883

In [35]:
new_bus_df = bus_df.copy()

new_bus_df.set_index("Juris", inplace = True)

final_df = new_bus_df.loc[['Mesa','Tempe','Phoenix']]
final_df

,X,Y,StopID,Location,Type_,Long,Lat
Juris,,,,,,,
Mesa,-111.823076,33.414719,5182.0,MESA DR & MAIN ST,Standard,-111.823076,33.414719
Mesa,-111.822766,33.415684,2982.0,MESA DR & MAIN ST,LINK,-111.822766,33.415684
Mesa,-111.822934,33.425734,4681.0,MESA DR & 6TH ST,Standard,-111.822934,33.425734
Mesa,-111.823048,33.422048,4682.0,MESA DR & UNIVERSITY DR,Standard,-111.823048,33.422048
Mesa,-111.823069,33.416883,4679.0,MESA DR & 1ST ST,Standard,-111.823069,33.416883
...,...,...,...,...,...,...,...
Phoenix,-112.071478,33.562889,10280.0,Sunnyslope Manor (Flag Zone),NaN,-112.071478,33.562889
Phoenix,-112.013721,33.611632,20053.0,Thunderbird Rd & 32nd St,NaN,-112.013721,33.611632
Phoenix,-112.075268,33.454113,20055.0,1st Ave & Fillmore,NaN,-112.075268,33.454113
Phoenix,-112.059740,33.299619,40272.0,Desert Foothills Pkwy & S 16013,Standard,-112.059740,33.299619
Phoenix,-112.059965,33.299685,40271.0,Desert Foothills Pkwy & S 16013,Standard,-112.059965,33.299685

In [40]:

bus_df =final_df.reset_index()

bus_df["Zipcode"] = " "
bus_df["City"] = " "
bus_df["Street Address"] = " "

#print(bus_df)

df_one = bus_df.iloc[0: 1000]

df_two = bus_df.iloc[1000: 2766]

df_three = bus_df.iloc[2766: 4150]

df_four = bus_df.iloc[4150: 5535]



df_one.to_csv('bus_1_CSV')
df_two.to_csv('bus_2_CSV')
df_three.to_csv('bus_3_CSV')
df_four.to_csv('bus_4_CSV')

In [26]:
bus_stop_cities = pd.value_counts(final_df.index)

#bus_stop_cities.to_csv('bus_CSV')

In [18]:
base_url = 'https://geoservices.tamu.edu/Services/ReverseGeocoding/WebService/v04_01/Rest/?'

version = 4.10
query_url = f'{base_url}apiKey={t_key}&version=4.10&format=json&state=az&notStore=false'

address = []
city = []
zipcode = []

for index,row in final_df.iterrows():
    query_api = query_url+'&lat='+str(row['Y'])+'&lon='+str(row['X'])
    print(query_api)
    response = requests.get(query_api).json()
    zipcode.append(response["StreetAddresses"][0]['Zip'])

https://geoservices.tamu.edu/Services/ReverseGeocoding/WebService/v04_01/Rest/?apiKey=fa6d67548a164fb59d941dc2d9716162&version=4.10&format=json&state=az&notStore=false&lat=33.4147193304186&lon=-111.82307599054501

IndexError: list index out of range

In [ ]:
final_df ['Zipcode'] = zipcode
final_df